body{

    font-family: "montserrat";
}

#title{
    text-align: left;
}

h1{
    font-family: "Montserrat";
    font-weight: 900;
    size: 3rem;
    line-height: 1.2;
    color: #fff;
}

h2{
    font-family: "montserrat";
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}

h3{
    font-family:"Montserrat";
    font-weight: 900;
}

p{
    color: #8f8f8f;
}


.container-fluid{
    padding: 3% 15% 9%;
}


.colored-section{
    background-color:#ff4c68 ;
    color: #fff;
}

.white-section{
    background-color: #fff;
}


/* Navbar  */

.navbar{
    padding: 0 0 4.5rem;
}


/* Nav-item */

.nav-item{
    padding: 0 18px;
}


/* Navigation Bar */

.navbar-brand{

    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-link{
    font-size: 1.2rem;
    font-family:'montserrat-light' ;
}

/* Download button  */

.Download-button{

     margin: 5% 3% 5% 0;

}

/* Feature Section  */

.feature-box{
    text-align: center;
    padding: 5%;
}


.title-image{
    transform: rotate(25deg);
    width: 19%;
    position: absolute;
    right: 23%;
}

#features{
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.icon{
    color: #ef8172;
    margin: 1rem;
}

.icon:hover{
    color:#ff4c68;
}

/* testimonials Section*/

#testimonials{
    text-align: center;
    background-color: #ef8172;
    font-weight: 900;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#Press{

    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}


.pic-logo{

    width: 15%;
    margin: 20px 20px 50px;

}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-coloum{
    padding: 3% 2%;
    
}

@media(max-width:1010px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}


/* Call to Action */

#cta{
    padding: 7% 15%;
    text-align: center;

}

.cta-heading{
    font-family: "montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.2;

}

.cta-button{
    margin: 5% 3% 5% 0;

}

/* FOOTER-SECTION */

#footer{
    text-align: center;
    padding: 7% 15%;
}

.social-icon{
    margin: 20px 10px;
}